<!doctype html>
<html>
<head>
  <title> Edit Profile </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
      body        { padding-top:80px; }
  </style>
</head>
<body>
  <div class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Edit Profile</h1>
  <form action="/editprofile" method="post">
 <div class="form-group">
   <label for="email">Email address:</label>
   <input type="email" class="form-control" id="email">
 </div>
 <div class="form-group">
   <label for="pwd">Password:</label>
   <input type="password" class="form-control" id="pwd">
   <div class="form-group">
     <label for="first_name">First Name:</label>
     <input type="password" class="form-control" id="first_name">
   </div>
 </div>
 <div class="form-group">
   <label for="city">City:</label>
   <input type="password" class="form-control" id="city">
 </div>
 <button type="submit" class="btn btn-primary">Save Profile</button>
</form>

</form>
</div>
</div>
</body>
</html>
