<!DOCTYPE html>
<html>
<head>
 <style>
  #map {
        height: 725px;
        width: 75%;
       }
	label {
    font: normal 18px ariel !important;
	}

	li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
	a:hover {
    background-color: teal;
}
.adp, .adp table{
  color: white !important;
}

 </style>
<title>Map</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body class="w3-content" style="max-width:2000px">
<ul style = "list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display:none"
	class = "w3-blue" id = "SignOut">
	<!--<a href="route.html"><img border="0" src="img/back.png" width="40" height="40"></a>-->
	<a href = "start.html" style="float:left"><img src = "img/logo.png" style = "height: 2em; width: 2em"></a>
 <button onclick="alert('Directions: Enter starting address, then choose either a predefined route, attraction to visit, or custom ending address');" class="btn btn-secondary" type="button"><i class="material-icons" style="font-size:30px">help</i></button>
  <li style="float:right"><a class="active" href="javascript:signOutButton();"><b>Sign Out</b></a></li>
  <li style="float:right"><a class="active" href="profile.html"><b>Profile</b></a></li>
</ul>

<ul style = "list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;"
	class = "w3-blue" id = "SignedIn">
	<a href = "start.html" style="float:left"><img src = "img/logo.png" style = "height: 3.8em; width: 3.8em"></a>
 <button onclick="alert('Directions: Enter starting address, then choose either a predefined route, attraction to visit, or custom ending address');" class="btn btn-secondary" type="button"><i class="material-icons" style="font-size:30px">help</i></button>
  <li style="float:right"><a class="active" href="/signup"><b>Sign Up</b></a></li>
  <li style="float:right"><a class="active" href="/login"><b>Login</b></a></li>
</ul>
<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-quarter w3-container w3-center" style="height:700px">
    <div class="w3-padding-16">
      <br> <br> <br>
    </div>
<form id="directionsPanel" class="w3-container w3-blue w3-border-white w3-padding" style = "box-shadow: 10px 10px 5px #888888; width:300px; height: 700px;">
<div id="Selected" class="w3-container tab">
  <div id="distance">
      <p id="total"></p>
  </div>
	<!--<ul class="w3-ul w3-card-4" id = "attrList" >
	</ul> -->
    </div>
    <div id="directionScroll" style="width:300px;height:640px;line-height:3em;overflow:auto;padding:5px;">

    </div>
  </div>
  <div class="w3-full w3-lightgrey w3-container" style="height:700px">
    <div class="w3-padding-16 w3-center">
      <h1>Enjoy your Trip!</h1>
     	<div class = "w3-spi" id="map"></div>


      <div class="w3-left-align w3-padding-xxlarge">
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/map_data.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmVV2Ab0atjhri97nB2q1OGD_Eb6xW-Hw&callback=initMap"></script>


<!-- Footer -->

</body>
</html>
